<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passwordmaker"
    android:installLocation="auto" android:versionName="2.1.5" android:versionCode="10">
    <uses-sdk 
        android:minSdkVersion="12" android:targetSdkVersion="15"/>
    <supports-screens
        largeScreens="true"
        normalScreens="true"
        smallScreens="true"
        />

    <application 
        android:label="@string/app_name"
        android:icon="@drawable/pwm">
        <activity android:name=".PwMaker"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android.label="@string/act_send">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="PwUpdate"/>
    </application>
</manifest> 
