<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pifactorial.test"
    android:versionCode="1"
    android:versionName="0.0.0-ALPHA" >
    
    <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="16"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.pifactorial" />

</manifest>
