<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pifactorial"
    >

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/pwm"
        android:label="Even Better Password Maker"
        android:uiOptions="splitActionBarWhenNarrow"
        android:theme="@style/Theme.AppCompat"
        android:allowBackup="false"
        android:name=".ebpm.EBPMakerApp" >
        <activity
            android:name="com.pifactorial.ebpm.ui.activity.EntryActivity"
            android:label="Even Better Password Maker"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/act_send" >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pifactorial.ebpm.ui.activity.UpdateActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"
            android:label="Update Profile" >
            <intent-filter>
                <action android:name="com.pifactorial.ebpm.UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
